<template>
    <ux-dialog class="au-animate cocktail-dialog">
        <header>
            <div>
                <svg click.trigger="controller.cancel()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <title>Arrow Back</title>
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="48" d="M244 400L100 256l144-144M120 256h292" />
                </svg>
                <h4>${cocktail.name}</h4>
                <svg click.delegate="toggleHeart()" class="heart ${isFavorite ? 'heart-active' : ''}"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <title>Heart</title>
                    <path
                        d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"
                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                </svg>
            </div>
        </header>

        <div class="scrollable-body">
            <div>
                <img src.bind="cocktail.imageSrc" loading="lazy">
            </div>

            <section>

                <div class="metadata">
                    <div>
                        <p>Category</p>
                        <h6> ${cocktail.category}</h6>
                    </div>
                    <span style="font-size: 1.5em;">/</span>
                    <div>
                        <p>Ingredients</p>
                        <h6> ${cocktail.ingredientGroups.length}</h6>
                    </div>

                </div>

            </section>

            <section>
                <div class="multiplier-select">
                    <label for="multiplier">Amount</label>
                    <select value.bind="multiplier" class="accent-bg">
                        <option repeat.for="value of multiplierValues" model.bind="value">
                            ${value}
                        </option>
                    </select>
                </div>
                <div class="ingredient-list">
                    <div repeat.for="ingredientGroup of extendedIngredientGroup">
                        <h5>${ingredientGroup.ingredient.name}</h5>
                        <div style="display: flex;">
                            <p>${ingredientGroup.amount | amountFormat:multiplier:ingredientGroup.unit}</p>
                            <svg if.bind="ingredientGroup.isActive" xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                viewBox="0 0 512 512">
                                <title>Checkmark</title>
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="32" d="M416 128L192 384l-96-96" />
                            </svg>
                            <div else style="width: 1.5em;"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h6>Instructions:</h6>
                <p>${cocktail.instructions}</p>
            </section>

            <div style="height: 50px;"></div>
        </div>
    </ux-dialog>
</template>