<template>
    <ux-dialog class="au-animate cocktail-dialog">
        <header>
            <div>
                <svg click.trigger="controller.cancel()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <title>Arrow Back</title>
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="48" d="M244 400L100 256l144-144M120 256h292" />
                </svg>


                <h4 if.bind="!isEditMode">${cocktail.name}</h4>
                <input class="clean-input" if.bind="isEditMode" type="text" placeholder="Name..."
                    value.bind="cocktail.name">

                <svg click.delegate="toggleHeart()" class="heart ${isFavorite ? 'heart-active' : ''}"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <title>Heart</title>
                    <path
                        d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"
                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                </svg>
            </div>
        </header>

        <div class="scrollable-body">
            <div>
                <div if.bind="isEditMode && cocktail.imageSrc === undefined" click.delegate="takePicture()"
                    class="image-upload">
                    <!-- <p>Click to upload an image</p> -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                        <title>Image</title>
                        <rect x="48" y="80" width="416" height="352" rx="48" ry="48" fill="none" stroke-linejoin="round"
                            stroke-width="32" />
                        <circle cx="336" cy="176" r="32" fill="none" stroke-miterlimit="10" stroke-width="32" />
                        <path
                            d="M304 335.79l-90.66-90.49a32 32 0 00-43.87-1.3L48 352M224 432l123.34-123.34a32 32 0 0143.11-2L464 368"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                    </svg>
                    <p>Click to upload an image</p>
                </div>
                <img src.bind="cocktail.imageSrc" loading="lazy">
            </div>

            <section>

                <div class="metadata">
                    <div>
                        <p>Category</p>
                        <h6 if.bind="!isEditMode"> ${cocktail.category}</h6>
                        <select if.bind="isEditMode" value.bind="cocktail.category" class="clean-input"
                            style="font-weight: lighter">
                            <option repeat.for="value of cocktailCategories" model.bind="value">
                                ${value}
                            </option>
                        </select>

                    </div>
                    <span style="font-size: 1.5em;">/</span>
                    <div>
                        <p>Ingredients</p>
                        <h6> ${cocktail.ingredientGroups.length}</h6>
                    </div>

                </div>

            </section>

            <section>
                <div class="multiplier-select">
                    <select value.bind="multiplier" class="accent-bg" disabled.bind="isEditMode">
                        <option repeat.for="value of multiplierValues" model.bind="value">
                            ${value}
                        </option>
                    </select>
                </div>
                <div class="ingredient-list">
                    <div repeat.for="ingredientGroup of extendedIngredientGroup"
                        click.delegate="checkIngredient(ingredientGroup)">
                        <h5>${ingredientGroup.ingredient.name}</h5>
                        <div style="display: flex;">
                            <p>${ingredientGroup.amount | amountFormat:multiplier:ingredientGroup.unit}</p>
                            <svg if.bind="ingredientGroup.isInStorage" xmlns="http://www.w3.org/2000/svg"
                                class="ionicon" viewBox="0 0 512 512">
                                <title>Checkmark</title>
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="32" d="M416 128L192 384l-96-96" />
                            </svg>
                            <div else style="width: 1.5em;"></div>

                        </div>
                        <div if.bind="ingredientGroup.isChecked" class="line-through-div">
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h6>Instructions:</h6>

                <p if.bind="!isEditMode" class="user-select-text">${cocktail.instructions}</p>
                <textarea if.bind="isEditMode" rows="5" class="user-select-text" value.bind="cocktail.instructions"
                    style="padding: 0.25em"></textarea>
            </section>

            <div style="height: 50px;"></div>
        </div>
    </ux-dialog>
</template>