<template>
    <div class="mx-4 mt-4">
        <div
            click.delegate="navigateToShoppingLists()"
            class="card card-compact w-full bg-base-200 shadow-xl overflow-hidden"
            data-cy="shopping-list-widget">
            <div class="card-body">
                <div class="flex items-center justify-between">
                    <div>
                        <h5
                            class="font-bold text-base"
                            t="shopping-list.list"
                            data-cy="shopping-list-widget-title"></h5>
                        <p
                            class="text-xs"
                            t="shopping-list.widget-subtitle"
                            data-cy="shopping-list-widget-subtitle"></p>
                    </div>
                    <icon-arrow-forward class="h-8 w-8"></icon-arrow-forward>
                </div>

                <div show.bind="shoppingListItems.length > 0" class="mt-2">
                    <div
                        repeat.for="item of shoppingListItems"
                        class="bg-base-100 rounded p-2 mb-2"
                        data-cy="shopping-list-widget-item">
                        <p class="font-semibold text-sm mb-1">${item.list.name}</p>
                        <p class="text-xs opacity-75">${item.itemsToBuy.join(', ')}</p>
                    </div>
                </div>

                <p
                    show.bind="shoppingListItems.length === 0"
                    class="text-xs opacity-60 mt-2"
                    t="shopping-list.widget-empty"
                    data-cy="shopping-list-widget-empty"></p>
            </div>
        </div>
    </div>
</template>
