<template class="widget-component">
    <require from="./add-ingredients.scss"></require>

    <h5 style="margin-bottom: 0em;">Quick Add Ingredients</h5>
    <p style="font-size: .75em;
    padding-bottom: 0.25em;">${ingredientIds.length} selected</p>

    <div class="panel-wrapper">
        <div class="ripple2" repeat.for="ingredient of ingredients" click.delegate="toggleIngredient(ingredient)">
            <p>${ingredient.name}</p>
            <svg class="au-animate animate-fade-in-fast" if.bind="!ingredient.isActive"
                xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <title>Add</title>
                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                    d="M256 112v288M400 256H112" />
            </svg>

            <svg class="is-active au-animate animate-fade-in-fast " if.bind="ingredient.isActive"
                xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <title>Checkmark</title>
                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                    d="M416 128L192 384l-96-96" />
            </svg>
        </div>

        <div if.bind="ingredients.length === 0">
            <p>No ingredients found.</p>
        </div>
    </div>

</template>