<template class="widget-component">
    <require from="./ingredients-widget.scss"></require>
    <div click.delegate="navigateToIngredients()" class="section-header">
        <div>
            <h5>Cocktails</h5>
            <p>From Current Ingredients</p>
        </div>

        <div style="display: flex;">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <title>Arrow Forward</title>
                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                    d="M268 112l144 144-144 144M392 256H100" />
            </svg>
        </div>
    </div>
    <div show.bind="cocktails.length > 0" class="section-body">
        <div ref="swipeElement" class="swiper-container">
            <div class="swiper-wrapper swipe-image-wrapper">
                <div class="swiper-slide" repeat.for="cocktail of cocktails" click.delegate="openDialog(cocktail)">
                    <img class="full-image swiper-lazy" data-src.bind="cocktail.imageSrc"
                        css="${cocktail.isImagePortrait ? 'object-fit: contain' : ''}">
                    <div class="swiper-lazy-preloader"></div>
                    <h2 class="has-text-light">${cocktail.name}</h2>
                </div>
            </div>
            <div class="position-info">
                <p>${position}/${cocktails.length}</p>
            </div>
        </div>
    </div>
</template>