ingredients-widget {
    display: block;
    padding: 0.5em 0.5em 0.25em;
    --tw-border-opacity: 0.2;
    border-bottom: 1px solid hsl(var(--bc) / var(--tw-border-opacity));
    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            padding-bottom: 0.25em;
        }
    }

    > .section-body {
        h3 {
            position: absolute;
            bottom: 0.5em;
            left: 0.25em;
        }
    }

    .position-info {
        position: absolute;
        bottom: 0.25em;
        text-align: center;
        background: var(--bg);
        opacity: 0.75;
        padding: 0em 1em;
        border: 1px solid var(--bg);
        border-radius: 1em;
        left: 0;
        right: 0;
        margin-left: 0;
        width: 2.5em;
        margin: 0 auto;
        font-size: 0.85em;
        color: var(--text);
    }
}
.swipe-image-wrapper {
    height: 16em;
    > div {
        img {
            height: 100%;
            object-fit: cover;
        }
        h2 {
            position: absolute;
            bottom: 1em;
            left: 0.25em;
        }
    }
}

/* basic */
.swiper-container {
    position: relative;
    overflow: hidden;
}

.swiper-container,
.swiper-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
}

.swiper-slide {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    align-items: center;
    cursor: grab;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* image lazyload */
.swiper-lazy {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 300ms;
}

.swiper-lazy-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-lazy-loaded {
    opacity: 1;
}

.swiper-lazy-preloader::after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--accent);
    border-radius: 50%;
    border-bottom-color: transparent;
    transform-origin: 50%;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
