<template>
    <ux-dialog class="au-animate cocktail-dialog bg-base-100" data-cy="cocktail-dialog">
        <header class="bg-base-300 h-12 w-full z-10 flex items-center p-2">
            <icon-arrow-back
                click.trigger="controller.cancel()"
                class="h-8 w-8 mr-1"
                data-cy="close-dialog"></icon-arrow-back>

            <h4 if.bind="!isEditMode">${cocktail.name}</h4>
            <div if.bind="isEditMode" class="form-control w-full" validation-errors.bind="nameErrors">
                <input
                    type="text"
                    placeholder="${'name' | t}.."
                    value.bind="cocktail.name & validate"
                    class="input input-bordered w-full input-sm"
                    class.bind="nameErrors.length ? 'input-error' : ''"
                    data-cy="cocktail-name" />
            </div>

            <icon-heart
                if.bind="!isEditMode"
                click.delegate="toggleHeart()"
                class="h-8 w-8 ${cocktail.isFavorite ? 'text-primary fill-secondary' : 'fill-base-200'}"></icon-heart>

            <icon-pencil
                if.bind="!isEditMode && cocktail.id.includes('x-')"
                click.delegate="editCocktail()"
                class="h-8 w-8"></icon-pencil>

            <svg
                if.bind="isEditMode"
                click.trigger="createOrUpdateCocktail()"
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8 ml-1 text-success"
                stroke="currentColor"
                viewBox="0 0 512 512"
                data-cy="save-cocktail">
                <title>Checkmark</title>
                <path
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="32"
                    d="M416 128L192 384l-96-96" />
            </svg>
        </header>

        <div class="scrollable-body">
            <div style="position: relative">
                <div show.bind="isEditMode && cocktail.imageSrc === undefined" class="image-upload bg-neutral">
                    <div if.bind="!isBusy">
                        <label class="custom-file-upload">
                            <input
                                type="file"
                                id="avatar"
                                name="avatar"
                                accept="image/*"
                                ref="imageInput"
                                data-cy="cocktail-image" />
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-12 w-12 m-auto"
                                stroke="currentColor"
                                viewBox="0 0 512 512">
                                <title>Image</title>
                                <rect
                                    x="48"
                                    y="80"
                                    width="416"
                                    height="352"
                                    rx="48"
                                    ry="48"
                                    fill="none"
                                    stroke-linejoin="round"
                                    stroke-width="32" />
                                <circle cx="336" cy="176" r="32" fill="none" stroke-miterlimit="10" stroke-width="32" />
                                <path
                                    d="M304 335.79l-90.66-90.49a32 32 0 00-43.87-1.3L48 352M224 432l123.34-123.34a32 32 0 0143.11-2L464 368"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="32" />
                            </svg>
                            <p t="upload-image"></p>
                        </label>
                    </div>
                    <div else style="display: flex; align-self: center">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <svg
                    if.bind="cocktail.imageSrc && isEditMode"
                    click.delegate="removeImage()"
                    xmlns="http://www.w3.org/2000/svg"
                    class="remove-image-icon"
                    viewBox="0 0 512 512">
                    <title>Close</title>
                    <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="32"
                        d="M368 368L144 144M368 144L144 368" />
                </svg>
                <img src.bind="cocktail.imageSrc" loading="lazy" />
            </div>

            <section>
                <div class="flex w-full text-center">
                    <div class="flex-1">
                        <p class="font-bold text-sm" t="category"></p>
                        <h6
                            if.bind="!isEditMode"
                            class="text-sm"
                            t.bind="cocktailCategories[cocktail.category].translation"></h6>

                        <select
                            if.bind="isEditMode"
                            value.bind="cocktail.category"
                            class="select select-bordered select-sm">
                            <option
                                repeat.for="category of cocktailCategories"
                                model.bind="category.value"
                                t.bind="category.translation"></option>
                        </select>
                    </div>

                    <div if.bind="!isEditMode" class="flex-1">
                        <p class="font-bold text-sm" t="ingredients"></p>
                        <h6 class="text-sm" data-cy="ingredients-number">${extendedIngredientGroup.length}</h6>
                    </div>

                    <div if.bind="!isEditMode" class="flex-1">
                        <p class="font-bold text-sm" t="abv"></p>
                        <h6 class="text-sm" data-cy="cocktail-abv">
                            ${cocktail.alcoholInformation.alcoholPercentage}%
                        </h6>
                    </div>
                </div>
            </section>

            <div class="flex justify-center flex-wrap px-2">
                <p repeat.for="tag of tags" class="badge badge-sm badge-secondary m-1">
                    <span if.bind="tag.translation" t.bind="tag.translation"></span>
                    <span else>${tag.name}</span>
                </p>

                <div if.bind="isEditMode" click.delegate="editTags()" class="badge badge-md gap-1 m-1">
                    <icon-add class="w-4 h-4"></icon-add>
                    <span t="edit-cocktail-tags"></span>
                </div>
            </div>

            <div class="divider"></div>

            <div if.bind="!isEditMode" class="mx-4">
                <div if.bind="noteState === 'none'">
                    <button click.delegate="editNotes()" class="btn btn-xs" data-cy="add-notes">
                        <icon-add class="h-4 w-4"></icon-add>
                        <span t="add-notes"></span>
                    </button>
                </div>
                <div else class="alert" data-cy="notes-container">
                    <div class="flex justify-between items-center w-full">
                        <p class="text-sm font-semibold" t="notes"></p>
                        <button
                            if.bind="noteState !== 'edit'"
                            click.delegate="editNotes()"
                            class="btn btn-sm btn-circle">
                            <icon-pencil class="w-5 h-5"></icon-pencil>
                        </button>
                    </div>

                    <div if.bind="noteState === 'exists'" class="w-full">
                        <p class="w-full text-left whitespace-pre-wrap">${cocktail.notes}</p>
                    </div>
                    <div if.bind="noteState === 'edit'" class="w-full">
                        <textarea
                            value.bind="cocktail.notes"
                            class="textarea textarea-ghost textarea-bordered w-full"
                            data-cy="notes-textarea"></textarea>
                        <div class="mt-2 flex justify-between flex-row-reverse">
                            <button
                                click.delegate="saveNotes()"
                                class="btn btn-sm btn-success"
                                t="save"
                                data-cy="save-notes"></button>
                            <button
                                click.delegate="clearNotes()"
                                show.bind="cocktail.notes.length > 0"
                                class="btn btn-sm btn-outline"
                                t="clear"
                                data-cy="clear-notes"></button>
                        </div>
                    </div>
                </div>
            </div>

            <section>
                <div if.bind="!isEditMode" class="multiplier-select">
                    <select value.bind="multiplier" class="select select-ghost w-full select-sm">
                        <option repeat.for="i of 10" model.bind="i + 1">${i + 1}</option>
                    </select>
                </div>

                <div class="${isEditMode ? 'edit-mode' : ''} ingredient-list mt-4">
                    <div if.bind="isEditMode" class="flex py-0 justify-between ml-1" style="margin-right: 4.5rem">
                        <h6 class="text-sm" t="ingredient"></h6>
                        <h6 class="text-sm" t="amount"></h6>
                        <h6 class="text-sm" t="unit"></h6>
                    </div>
                    <div
                        repeat.for="ingredientGroup of extendedIngredientGroup"
                        click.delegate="checkIngredient(ingredientGroup)"
                        long-click.delegate="longClick(ingredientGroup)"
                        data-cy="ingredient-group-${$index}">
                        <div if.bind="!isEditMode" class="${ingredientGroup.isChecked ? 'opacity-50' : ''}">
                            <h5>
                                <span
                                    if.bind="ingredientGroup.ingredient.recipeId"
                                    click.delegate="navigateToCocktailIngredient($event, ingredientGroup.ingredient)">
                                    <a class="link link-info">${ingredientGroup.ingredient.name}</a>
                                </span>
                                <span else>${ingredientGroup.ingredient.name}</span>
                            </h5>

                            <h6 if.bind="ingredientGroup.substituteNames" class="text-sm opacity-75">
                                <span>(</span><span t="or"></span>
                                <span>${ingredientGroup.substituteNames})</span>
                            </h6>
                        </div>

                        <div if.bind="!isEditMode" class="flex self-center">
                            <p class="${ingredientGroup.isChecked ? 'opacity-50' : ''}">
                                ${ingredientGroup.amount | amountFormat:multiplier:ingredientGroup.unit}
                            </p>
                            <svg
                                if.bind="ingredientGroup.isInStorage"
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6 text-success ${ingredientGroup.isChecked ? 'opacity-50' : ''}"
                                stroke="currentColor"
                                viewBox="0 0 512 512"
                                data-cy="ingredient-group-checkmark">
                                <title>Checkmark</title>
                                <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="32"
                                    d="M416 128L192 384l-96-96" />
                            </svg>
                            <div else style="width: 1.5em"></div>
                        </div>
                        <div else style="display: flex; width: 100%">
                            <input
                                click.delegate="openAddIngredients($index)"
                                class="input w-full input-sm bg-neutral mx-1"
                                value.bind="ingredientGroup.ingredient.name" />

                            <input
                                type="number"
                                value.bind="ingredientGroup.amount"
                                class="input w-full input-sm bg-neutral mx-1" />

                            <select
                                value.bind="ingredientGroup.unit"
                                class="select select-bordered select-ghost select-sm bg-neutral mx-1">
                                <option repeat.for="value of ingredientUnits" model.bind="value">${value}</option>
                            </select>

                            <svg
                                click.delegate="deleteRow($index)"
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-8 w-8 self-center text-secondary"
                                style="min-width: 2rem"
                                stroke="currentColor"
                                viewBox="0 0 512 512">
                                <title>Close</title>
                                <path
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="32"
                                    d="M368 368L144 144M368 144L144 368" />
                            </svg>
                        </div>
                        <div if.bind="ingredientGroup.isChecked" class="line-through-div bg-secondary"></div>
                    </div>
                </div>
                <div if.bind="isEditMode">
                    <div click.delegate="addRow()" class="flex justify-center mt-4">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-8 w-8"
                            viewBox="0 0 512 512"
                            stroke="currentColor">
                            <title>Add</title>
                            <path
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="32"
                                d="M256 112v288M400 256H112" />
                        </svg>
                    </div>
                </div>
            </section>

            <section>
                <h5 class="font-bold mb-2" t="instructions"></h5>
                <div if.bind="!isEditMode">
                    <p if.bind="cocktail.instructions" class="whitespace-pre-wrap">${cocktail.instructions}</p>
                    <p class="whitespace-pre-wrap" else t="instructions:${cocktail.translation}"></p>
                </div>
                <textarea
                    if.bind="isEditMode"
                    rows="5"
                    class="textarea textarea-bordered p-1 w-full"
                    value.bind="cocktail.instructions"
                    data-cy="textarea"></textarea>
            </section>

            <div class="divider"></div>

            <div if.bind="isEditMode && !isNewCocktail" style="display: flex; align-items: center; margin: 0.5em">
                <p
                    click.delegate="deleteCocktail()"
                    style="margin-bottom: 0; padding-right: 0.25em; text-decoration: underline"
                    t="delete-cocktail"></p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-5 text-secondary"
                    viewBox="0 0 512 512"
                    stroke="currentColor">
                    <title>Trash</title>
                    <path
                        d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="32" />
                    <path stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352" />
                    <path
                        d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="32" />
                </svg>
            </div>

            <section if.bind="!isEditMode">
                <h5 class="font-bold mb-2" t="rating"></h5>
                <div class="rating rating-lg justify-center w-full">
                    <button
                        if.bind="selectedRating !== 0"
                        click.delegate="clearRating()"
                        class="btn btn-circle btn-sm self-center mr-2 absolute left-0">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-4 w-4"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                    <input
                        if.bind="selectedRating === 0"
                        type="radio"
                        name="rating-9"
                        class="rating-hidden"
                        style="width: 0px"
                        checked />
                    <input
                        repeat.for="i of 5"
                        type="radio"
                        name="rating-5"
                        class="mask mask-star-2 bg-warning"
                        model.bind="i + 1"
                        checked.bind="selectedRating"
                        data-cy="rating-input-${i + 1}" />
                </div>
            </section>

            <div
                show.bind="displayAddIngredients"
                class="search-container ${displayAddIngredients ? 'is-focused bg-base-200' : ''}">
                <h5
                    mousedown.delegate="$event.preventDefault()"
                    touchstart.delegate="$event.cancelable && $event.preventDefault()"
                    t="select-ingredient"></h5>
                <div>
                    <input
                        type="text"
                        class="input input-bordered input-sm w-full max-w-xs"
                        autocomplete="off"
                        ref="searchElement"
                        type="search"
                        placeholder="${'search' | t}"
                        id="searchInput"
                        value.bind="searchFilter" />
                    <div>
                        <label for="searchInput" aria-label="Search"></label>
                    </div>
                </div>

                <div
                    class="ingredient-tags-container"
                    mousedown.delegate="$event.preventDefault()"
                    touchstart.delegate="$event.cancelable && $event.preventDefault()">
                    <div
                        repeat.for="tag of filteredIngredientTags"
                        click.delegate="selectItem(tag)"
                        class="tag bg-primary"
                        mousedown.delegate="$event.preventDefault()"
                        touchstart.delegate="$event.cancelable && $event.preventDefault()">
                        <p>${tag.name}</p>
                    </div>
                    <div
                        if.bind="showAddIngredientTag"
                        click.delegate="addNewIngredient()"
                        class="tag bg-primary"
                        mousedown.delegate="$event.preventDefault()"
                        touchstart.delegate="$event.cancelable && $event.preventDefault()">
                        <p>"${searchFilter}"</p>
                    </div>
                </div>

                <div class="close-x-button bg-base-200">
                    <svg
                        click.delegate="closeIngredientSearch()"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <title>Close</title>
                        <path
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="32"
                            d="M368 368L144 144M368 144L144 368" />
                    </svg>
                </div>
            </div>

            <div style="height: 50px"></div>

            <div if.bind="displayAddIngredients" class="search-overlay"></div>
        </div>
    </ux-dialog>
</template>
