explore-section {
    display: block;
    border-radius: 0.25em;
    margin: 0 0.5em 0.5em;
    padding-bottom: 0.5em;

    .section-header {
        display: flex;
        justify-content: space-between;
        height: 2em;
        align-items: center;
        padding: 0 0.25em;
        > p {
            font-size: 0.75em;
        }
    }
    > .image-wrapper {
        display: flex;

        .full-image {
            border-radius: 0.5em;
            display: block;
            margin: 0 auto;
            width: 100%;
            object-fit: cover;
        }

        > div {
            position: relative;
            display: flex;
            flex: 1;
            padding: 0 0.5em;
            height: 4em;
        }

        .text-wrapper {
            bottom: 0.25em;
            position: absolute;
            font-size: 0.75em;
            left: 1em;
        }
    }
}
