explore-section {
    margin-bottom: 1em;
    display: block;
    > h6 {
        margin-bottom: 0.25em;
        margin-left: 0.25em;
    }
    > .image-wrapper {
        display: flex;

        .full-image {
            border-radius: 0.5em;
            display: block;
            margin: 0 auto;
            width: 100%;
            object-fit: cover;
        }

        > div {
            position: relative;
            display: flex;
            flex: 1;
            padding: 0 0.5em;
            height: 4em;
        }

        .text-wrapper {
            bottom: 0.25em;
            position: absolute;
            left: 0.5em;
            font-size: 0.75em;
        }
    }
}
