navbar {
    background-color: var(--accent-bg);
    width: 100%;
    display: flex;
    height: 3.75em;
    z-index: 100;
    position: fixed;
    box-shadow: var(--navbar-border-top);

    .nav-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;

        .svg-wrapper {
            display: flex;
            justify-content: center;
            > svg {
                width: 1.5em;
            }
        }
    }

    .active {
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        color: var(--accent);
    }

    .inactive {
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        color: hsl(0, 0%, 70%);
    }

    .title {
        text-align: center;
        margin: 0;
        font-size: 0.85em;
    }
}

navbar.bottom {
    bottom: 0;
}

navbar.hidden {
    display: none;
}

.ripple {
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: hsl(0, 0%, 96%, 0.25);
    animation-duration: 0.5s;
    animation-name: ripple;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    pointer-events: none;
}

@keyframes ripple {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: scale(60);
    }
}
