<template>
    <h4 style="padding: 0.5em 0" t="contact"></h4>
    <div if.bind="formSent !== true">
        <div validation-errors.bind="emailErrors">
            <label t="email"></label>
            <input type="email" placeholder="mail@mail.com" value.bind="email & validate" class="clean-input text-left"
                class.bind="emailErrors.length ? 'is-danger' : ''" style="margin-right: 0; margin-left: 0;">
        </div>

        <label t="category"></label>
        <select value.bind="selectedReason" class="clean-input text-left" style="margin-right: 0; margin-left: 0;">
            <option repeat.for="reason of reasons">${reason | t}</option>
        </select>

        <div validation-errors.bind="messageErrors">
            <label t="message"></label>
            <textarea rows="4" placeholder="" value.bind="message & validate"
                class.bind="messageErrors.length ? 'is-danger' : ''"></textarea>
        </div>

        <button style="color: #dcdcdc" click.delegate="submit()" t="send"></button>

        <div if.bind="errorMessage">
            <p style="color: var(--accent);" t="form-sent-failed"></p>
            <p style="font-size: 0.75em;">${errorMessage}</p>
        </div>
    </div>
    <div else>
        <div>
            <p t="form-sent-paragraph-1"></p>
            <p t="form-sent-paragraph-2"></p>
        </div>
    </div>
</template>