add-ingredients {
    display: block;
    padding: 0.5em 0.5em 0.25em;
    --tw-border-opacity: 0.2;
    border-bottom: 1px solid hsl(var(--bc) / var(--tw-border-opacity));
    > h5 {
        padding-top: 0.25em;
    }
    .panel-wrapper {
        > div {
            padding: 0.75em;

            display: flex;
            align-items: center;
            position: relative;
            > svg {
                height: 2em;
                position: absolute;
                right: 0.5em;
            }
        }
        > div:active {
            filter: brightness(1.2);
        }
        > div:last-child {
            border-bottom: 0px;
        }
    }
}
