ux-dialog-container {
    display: block;
    width: 100%;
    transition: opacity 0.2s linear;
    opacity: 0;
    position: fixed;

    &.active {
        opacity: 1;
    }
    > div {
        margin: 0 !important;
        width: 100%;
    }
}

ux-dialog {
    width: 100%;
    display: block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background: var(--bg);
    height: 100vh;
}

.ux-dialog-open {
    overflow: hidden;
}
.ux-dialog-open .au-animate {
    animation: dialogEntry 0.35s;
}

@keyframes dialogEntry {
    0% {
        margin-top: 100vh;
    }
    100% {
        margin-top: 0;
    }
}

.small-dialog {
    background: hsl(0deg 0% 25% / 90%);
    > div {
        display: flex;
        height: 100%;
        width: 90%;
        margin: auto;
        align-items: center;
        > div {
            height: 15em;
            border-radius: 5px;
            background: var(--bg);
            border: 3px solid var(--list-item-seperator-color);
            width: 100%;
            position: relative;
            > header {
                padding: 0.5em;
                text-align: center;
                > p {
                    font-size: 0.85em;
                    color: var(--text-light);
                }
            }
            > footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                border-top: 1px solid var(--list-item-seperator-color);
                > button {
                    width: 100%;
                    background: none;
                    color: var(--text-light);
                    font-size: large;
                }
            }
        }
    }

    .small-dialog-content {
        display: flex;
        width: 100%;
        > div {
            position: relative;
            flex: 1;
            text-align: center;
            border: 2px solid var(--list-item-seperator-color);
            margin: 0.5em;
            border-radius: 5px;
            > p {
                padding: 2em;
                font-weight: bold;
            }
        }
        > div.active {
            border: 2px solid var(--accent);
        }
    }
}

.cocktail-dialog {
    > header {
        background: var(--accent-bg);
        height: 3em;
        width: 100%;
        z-index: 1;

        > div {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0em 0.25em;
            > h4 {
                text-align: center;
                flex: 1;
            }
            > svg {
                height: 2em;
                color: var(--text-light);
                fill: var(--accent-bg);
            }
            > svg.heart {
                transition: all 0.25s ease-out;
            }
            > svg.heart-active {
                color: var(--accent);
                fill: var(--accent);
            }
        }
    }
    > .scrollable-body {
        overflow: scroll;
        height: calc(100% - 3em);
        > div {
            > h5 {
                text-align: center;
                padding-top: 0.5em;
            }
            > img {
                display: flex;
                margin: 0 auto;
                max-height: 15em;
                max-width: 100%;
            }
            > p {
                text-align: center;
                font-size: 1em;
                margin-bottom: 1em;
            }
        }

        > section {
            margin: 1em;
            > p {
                font-size: 1em;
            }
            > h6 {
                margin-bottom: 0.5em;
            }
            > .metadata {
                display: flex;
                width: 100%;
                > div {
                    text-align: center;
                    flex: 1;
                }
            }
            > .multiplier-select {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-left: auto;
                > select {
                    border: 0;
                    border-radius: 0;
                    border-bottom: 1px solid var(--list-item-seperator-color);
                    margin-bottom: 0;
                }
            }
            > table {
                margin: 0;
            }
            .ingredient-list {
                > div {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.75em;
                    border-bottom: 1px solid var(--list-item-seperator-color);
                    position: relative;
                    p {
                        white-space: nowrap;
                        padding-right: 0.5em;
                    }
                    svg {
                        width: 1.5em;
                        height: 1.5em;
                        color: var(--accent);
                        align-self: center;
                    }
                }
            }
            .ingredient-list.edit-mode {
                > div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    .line-through-div {
        height: 1px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: var(--accent);
        width: 100%;
    }
}
