ux-dialog-container {
    display: block;
    width: 100%;
    transition: opacity 0.2s linear;
    opacity: 0;
    position: fixed;

    &.active {
        opacity: 1;
    }
    > div {
        margin: 0 !important;
        width: 100%;
    }
}

ux-dialog {
    width: 100%;
    display: block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background: var(--bg);
    height: 100vh;
}

.ux-dialog-open {
    overflow: hidden;
}
.ux-dialog-open .au-animate {
    animation: dialogEntry 0.35s;
}

@keyframes dialogEntry {
    0% {
        margin-top: 100vh;
    }
    100% {
        margin-top: 0;
    }
}

.cocktail-dialog {
    > header {
        background: var(--accent-bg);
        height: 3em;
        width: 100%;
        z-index: 1;

        > div {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0em 0.25em;
            > h4 {
                text-align: center;
                flex: 1;
            }
            > svg {
                height: 2em;
                color: var(--text-light);
                fill: var(--accent-bg);
            }
            > svg.heart {
                transition: all 0.25s ease-out;
            }
            > svg.heart-active {
                color: var(--accent);
                fill: var(--accent);
            }
        }
    }
    > .scrollable-body {
        overflow: scroll;
        height: calc(100% - 3em);
        > div {
            > h5 {
                text-align: center;
                padding-top: 0.5em;
            }
            > img {
                display: flex;
                margin: 0 auto;
                max-height: 15em;
            }
            > p {
                text-align: center;
                font-size: 1em;
                margin-bottom: 1em;
            }
        }

        > section {
            margin: 1em;
            > p {
                font-size: 1em;
            }
            > h6 {
                margin-bottom: 0.5em;
            }
            > .metadata {
                display: flex;
                width: 100%;
                > div {
                    text-align: center;
                    flex: 1;
                }
            }
            > .multiplier-select {
                display: flex;
                flex-direction: column;
                width: 5em;
                justify-content: flex-end;
                margin-left: auto;
                > label {
                    text-align: right;
                }
            }
            > table {
                margin: 0;
            }
            .ingredient-list {
                > div {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.75em;
                    border-bottom: 1px solid var(--list-item-seperator-color);
                    p {
                        white-space: nowrap;
                        padding-right: 0.5em;
                    }
                    svg {
                        width: 1.5em;
                        height: 1.5em;
                        color: var(--accent);
                    }
                }
            }
        }
    }
}
