@import url('./simple.scss');

.accent-bg {
    background-color: var(--accent-bg);
}

.has-text-light {
    color: #dcdcdc;
}

.container {
    padding-top: 1em;
}

.ptr--text {
    color: var(--text);
    opacity: 0.6;
}

.ptr--ptr {
    box-shadow: var(--box-shadow-inset);
    pointer-events: none;
    font-size: 0.85em;
    font-weight: bold;
    top: 0;
    height: 0;
    transition: height 0.3s, min-height 0.3s;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    align-content: stretch;
}
.ptr--box {
    padding: 10px;
    flex-basis: 100%;
}
.ptr--pull {
    transition: none;
}
.ptr--icon {
    color: var(--text);
    opacity: 0.6;
    transition: transform 0.3s;
}
/*
  When at the top of the page, disable vertical overscroll so passive touch
  listeners can take over.
  */
.ptr--top {
    touch-action: pan-x pan-down pinch-zoom;
}
.ptr--release .ptr--icon {
    transform: rotate(180deg);
}
