@import url('./simple.scss');

html,
body {
    overscroll-behavior: none;
}

.accent-bg {
    background-color: var(--accent-bg);
}

.has-text-light {
    color: #dcdcdc;
}

.text-light {
    color: var(--text-light);
}

.text-small {
    font-size: 0.75em;
}

.container {
    min-height: 100vh;
    overscroll-behavior: none;
}

.list-view {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    > div {
        align-items: center;
        display: flex;
        height: 2em;
        margin-bottom: 0.25em;
        justify-content: space-between;
        padding: 0em 0.75em;
    }
}

// Pull to Refresh

.ptr--text {
    color: var(--text);
    opacity: 0.6;
}

.ptr--ptr {
    box-shadow: var(--box-shadow-inset);
    pointer-events: none;
    font-size: 0.85em;
    font-weight: bold;
    top: 0;
    height: 0;
    transition: height 0.3s, min-height 0.3s;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    align-content: stretch;
}
.ptr--box {
    padding: 10px;
    flex-basis: 100%;
}
.ptr--pull {
    transition: none;
}
.ptr--icon {
    color: var(--text);
    opacity: 0.6;
    transition: transform 0.3s;
}
/*
  When at the top of the page, disable vertical overscroll so passive touch
  listeners can take over.
  */
.ptr--top {
    touch-action: pan-x pan-down pinch-zoom;
}
.ptr--release .ptr--icon {
    transform: rotate(180deg);
}

.search-container {
    position: fixed;
    bottom: calc(3.5em);
    width: 100%;
    padding-bottom: 0.5em;
    z-index: 11;
    box-shadow: var(--navbar-border-top);
    > h5 {
        padding: 0.5em;
    }
    > div {
        padding-left: 0.5em;
        padding-right: 0.5em;
        > input {
            margin-bottom: 0;
            padding: 0.25em;
            border-radius: 1em;
            border: 0px;
            padding-left: 0.5em;
            height: 2em;
            box-shadow: var(--widget-shadow-small);
        }
    }
}

.search-container.is-focused {
    bottom: 0;
}

.ingredient-tags-container {
    display: flex;
    font-size: 1em;
    overflow: scroll;
    padding-top: 1em;
    padding-bottom: 1em;
    > .tag {
        background: var(--accent);
        margin: 0 0.25em;
        border-radius: 0.75em;

        > p {
            padding: 0em 1em;
            white-space: nowrap;
            line-height: 2.25;
            color: #dcdcdc;
        }
    }
}

.selected-ingredients-wrapper {
    margin: 0.25em 0em;
    border-radius: 0.25em;
    padding: 0em 0.75em;
    > div {
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg);
        border-bottom: 1px solid var(--list-item-seperator-color);
        > svg {
            width: 2em;
            height: 2em;
            color: var(--accent);
        }
    }
    > div:active {
        filter: brightness(1.2);
    }
}

.full-page-height {
    height: calc(100% - 9.25em);
    position: absolute;
    width: 100%;
    overflow: scroll;
    background-color: var(--accent-bg);
}

.full-page-height-search {
    height: calc(100% - 14.25em);
    position: absolute;
    width: 100%;
    overflow: scroll;
    background-color: var(--accent-bg);
}

.list-ingredients-wrapper {
    margin: 0.25em;
}

.search-overlay {
    background: #000;
    height: 100vh;
    opacity: 0.75;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}

.widget-component {
    border-radius: var(--widget-border-radius);
    box-shadow: var(--widget-shadow-small);
    transition: box-shadow 0.2s ease;
    padding: 0.5em;
    display: block;
    margin: 0 1em 1em;
    background-color: var(--accent-bg);
}

.animate-fade-in.au-enter {
    opacity: 0;
}

.animate-fade-in.au-enter-active {
    animation: FadeIn 0.5s;
}

.animate-fade-in-fast {
    animation: FadeIn 0.25s;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fade-out.au-leave-active {
    animation: FadeOut 0.1s;
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tab-navigation {
    display: flex;
    padding-top: 0.25em;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    > div {
        padding: 0 0.5em;
        width: 100%;
        > p {
            width: fit-content;
            margin: 0 auto;
            padding-bottom: 0.25em;
            white-space: nowrap;
        }
    }
    > div.active {
        border-bottom: 2px solid var(--accent);
    }
}

.tab-navigation::-webkit-scrollbar {
    display: none;
}

.small-round-image {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    object-fit: cover;
}

.cocktail-list-item {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
    background-color: var(--bg);
    border-bottom: 1px solid var(--list-item-seperator-color);
    > p {
        padding-left: 1em;
    }
    > div {
        padding-left: 1em;
        ul {
            margin-left: 1em;
            list-style: none;
        }

        ul li::before {
            content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: var(--accent); /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
        }
    }
}

.question-wrapper {
    position: relative;
    stroke: var(--text);
    > .question-row {
        display: flex;
        justify-content: space-between;
        > p {
            padding: 0.5em;
            padding-bottom: 1em;
        }
        > div {
            > svg {
                display: flex;
                width: 1.5em;
                align-self: center;
                height: 100%;
                margin-right: 1em;
                margin-left: auto;
            }
        }
        > h6 {
            padding: 1em;
            margin-left: 0.5em;
        }
    }
}

.form-checkbox > input {
    background-color: var(--accent-bg);
}

.widget-container {
    height: calc(100vh - 6.75em);
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.home-header {
    display: flex;
    justify-content: space-between;
    height: 3em;
    padding: 0em 0.5em;
    align-items: center;
    > div {
        display: flex;
        min-width: 2em;
        > svg {
            color: var(--text-light);
        }
    }
}

#widget-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid var(--list-item-seperator-color);
    border-top: 1px solid var(--list-item-seperator-color);
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;

        > svg {
            height: 2em;
            width: 2em;
            color: var(--text-light);
        }
    }
}
