@import url('./simple.scss');

html,
body {
    overscroll-behavior: none;
    user-select: none;
}

.accent-bg {
    background-color: var(--accent-bg);
}

.has-text-light {
    color: #dcdcdc;
}

.text-light {
    color: var(--text-light);
}

.text-small {
    font-size: 0.75em;
}

.container {
    min-height: 100vh;
    overscroll-behavior: none;
}

.list-view {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    > div {
        align-items: center;
        display: flex;
        height: 2em;
        margin-bottom: 0.25em;
        justify-content: space-between;
        padding: 0em 0.75em;
    }
}

// Pull to Refresh

.ptr--text {
    color: var(--text);
    opacity: 0.6;
}

.ptr--ptr {
    box-shadow: var(--box-shadow-inset);
    pointer-events: none;
    font-size: 0.85em;
    font-weight: bold;
    top: 0;
    height: 0;
    transition: height 0.3s, min-height 0.3s;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    align-content: stretch;
}
.ptr--box {
    padding: 10px;
    flex-basis: 100%;
}
.ptr--pull {
    transition: none;
}
.ptr--icon {
    color: var(--text);
    opacity: 0.6;
    transition: transform 0.3s;
}
/*
  When at the top of the page, disable vertical overscroll so passive touch
  listeners can take over.
  */
.ptr--top {
    touch-action: pan-x pan-down pinch-zoom;
}
.ptr--release .ptr--icon {
    transform: rotate(180deg);
}

.search-container {
    position: fixed;
    bottom: calc(3.5em);
    width: 100%;
    padding-bottom: 0.5em;
    z-index: 11;
    box-shadow: var(--navbar-border-top);
    > h5 {
        padding: 0.5em;
    }
    > div {
        padding-left: 0.5em;
        padding-right: 0.5em;
        > input {
            margin-bottom: 0;
            padding: 0.25em;
            border-radius: 1em;
            border: 0px;
            padding-left: 0.5em;
            height: 2em;
            box-shadow: var(--widget-shadow-small);
        }
    }
    .close-x-button {
        position: absolute;
        top: -1em;
        width: 2.5em;
        height: 2.5em;
        right: 1.5em;
        border-radius: 100%;
        padding: 0px;
        box-shadow: var(--navbar-border-top);
        background: var(--accent-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        > svg {
            width: 2em;
            height: 2em;
            fill: var(--text);
        }
    }
}

.search-container.is-focused {
    bottom: 0;
}

.ingredient-tags-container {
    display: flex;
    font-size: 1em;
    overflow: scroll;
    padding-top: 1em;
    padding-bottom: 1em;
    > .tag {
        background: var(--accent);
        margin: 0 0.25em;
        border-radius: 0.75em;

        > p {
            padding: 0em 1em;
            white-space: nowrap;
            line-height: 2.25;
            color: #dcdcdc;
        }
    }
}

.selected-ingredients-wrapper {
    margin: 0.25em 0em;
    border-radius: 0.25em;
    padding: 0em 0.75em;
    .ingredient-group-item {
        height: 2em;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg);
        > svg {
            width: 2em;
            height: 2em;
            color: var(--accent);
        }
    }
    .ingredient-group-item:last-of-type {
        border-bottom: 3px solid var(--list-item-seperator-color);
    }
    .ingredient-group-item:active {
        filter: brightness(1.2);
    }

    .ingredient-group-header {
        height: 1.5em;
        padding: 0.5em 0em;
        position: sticky;
        top: 0;
        background-color: var(--bg);
    }
}

.full-page-height {
    height: calc(100% - 9.25em);
    position: absolute;
    width: 100%;
    overflow: scroll;
    background-color: var(--accent-bg);
}

.full-page-height-search {
    height: calc(100% - 14.25em);
    position: absolute;
    width: 100%;
    overflow: scroll;
    background-color: var(--accent-bg);
}

.full-page-height-search-small {
    height: calc(100% - 12.25em);
    position: absolute;
    width: 100%;
    overflow: scroll;
    background-color: var(--accent-bg);
}

.list-ingredients-wrapper {
    margin: 0.25em;
}

.search-overlay {
    background: #000;
    height: 100vh;
    opacity: 0.75;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}

.widget-component {
    border-radius: var(--widget-border-radius);
    box-shadow: var(--widget-shadow-small);
    transition: box-shadow 0.2s ease;
    padding: 0.5em;
    display: block;
    margin: 0 1em 1em;
    background-color: var(--accent-bg);
}

.animate-fade-in.au-enter {
    opacity: 0;
}

.animate-fade-in.au-enter-active {
    animation: FadeIn 0.5s;
}

.animate-fade-in-fast {
    animation: FadeIn 0.25s;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fade-out.au-leave-active {
    animation: FadeOut 0.1s;
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tab-navigation {
    display: flex;
    padding-top: 0.25em;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    > div {
        padding: 0 0.5em;
        width: 100%;
        > p {
            width: fit-content;
            margin: 0 auto;
            padding-bottom: 0.25em;
            white-space: nowrap;
        }
    }
    > div.active {
        border-bottom: 2px solid var(--accent);
    }
}

.tab-navigation::-webkit-scrollbar {
    display: none;
}

.small-round-image {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    object-fit: cover;
}

.cocktail-list-item {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
    background-color: var(--bg);
    border-bottom: 1px solid var(--list-item-seperator-color);
    > p {
        padding-left: 1em;
    }
    > div {
        padding-left: 1em;
        ul {
            margin-left: 1em;
            list-style: none;
        }

        ul li::before {
            content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: var(--accent); /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
        }
    }
}

.question-wrapper {
    position: relative;
    stroke: var(--text);
    > .question-row {
        display: flex;
        justify-content: space-between;
        > p {
            padding: 0.5em;
            padding-bottom: 1em;
        }
        > div {
            > svg {
                display: flex;
                width: 1.5em;
                align-self: center;
                height: 100%;
                margin-right: 1em;
                margin-left: auto;
            }
        }
        > h6 {
            padding: 1em;
            margin-left: 0.5em;
        }
    }
}

.form-checkbox > input {
    background-color: var(--accent-bg);
}

.widget-container {
    height: calc(100vh - 7em);
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.home-header {
    display: flex;
    justify-content: space-between;
    height: 3em;
    padding: 0em 0.5em;
    align-items: center;
    > div {
        display: flex;
        min-width: 1.5em;
        padding: 0.25em;
        > svg {
            color: var(--text-light);
        }
    }
}

#widget-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid var(--list-item-seperator-color);
    border-top: 1px solid var(--list-item-seperator-color);
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;

        > svg {
            height: 2em;
            width: 2em;
            color: var(--text-light);
        }
    }
}

textarea.is-danger {
    border: 1px solid var(--accent);
}
input[type='email'].is-danger {
    border: 1px solid var(--accent);
}

.user-select-text {
    user-select: text;
}

.fab {
    height: 56px;
    width: 56px;
    border-radius: 100%;
    position: fixed;
    bottom: 120px;
    right: 16px;
    background: var(--accent);
    z-index: 900;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    > svg {
        height: 32px;
        stroke: #dcdcdc;
        align-self: center;
        width: 100%;
    }
}

.add-ingredient-button {
    display: flex;
    height: 2em;
    width: 2em;
    border-radius: 100%;
    border: 1px solid var(--text-light);
    display: flex;
    margin: 0 auto;
    margin-top: 0.5em;
    > svg {
        height: 2em;
        width: 2em;
        align-self: center;
        stroke: var(--text-light);
    }
}

.clean-input {
    border: 0;
    border-bottom: 1px solid var(--border);
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 0;
    text-align: center;
}

.clean-input.is-danger {
    border: 1px solid var(--accent);
}

.image-upload {
    background: var(--list-item-seperator-color);
    border-radius: 4px;
    height: 10em;
    width: 10em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > div {
        > p {
            color: var(--text-light);
            font-size: 1em;
            text-align: center;
        }
        > svg {
            width: 100%;
            height: 4em;
            stroke: var(--text-light);
        }
    }
}

.is-green {
    color: hsl(141, 71%, 48%);
    stroke: hsl(141, 71%, 48%);
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
