/* Global variables. */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;800&display=swap');

:root {
    /* Set sans-serif & mono fonts */
    --sans-font: 'Roboto Slab', serif;
    --mono-font: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

    /* Default (light) theme */
    --bg: #eee;
    --accent-bg: #fff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --accent: #ba181b;
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
    --box-shadow-inset: inset 0 -3px 5px rgba(0, 0, 0, 0.12);
    --navbar-border-top: inset 0 1px 0 0 hsla(0, 0%, 0%, 0.1);
    --widget-shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
    --widget-border-radius: 5px;
    --image-opacity: 1;
}

/* Dark theme */
[data-theme='dark'] {
    --bg: #161a1d;
    --accent-bg: #0b090a;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --accent: #e5383b;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
    --box-shadow-inset: inset 0 -3px 5px rgba(255, 255, 255, 0.12);
    --navbar-border-top: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.1);
    --widget-shadow-small: 0 0 0 1px #333;
    --image-opacity: 0.8;
}
/* Add a bit of transparancy so light media isn't so glaring in dark mode */

html {
    /* Set the font globally */
    font-family: var(--sans-font);
    scroll-behavior: smooth;
}

/* Make the body a nice central block */
body {
    color: var(--text);
    background: var(--bg);
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
}

img,
video {
    opacity: var(--image-opacity);
}

/* Make the header bg full width, but the content inline with body */
body > header {
    background: var(--accent-bg);
    border-bottom: 1px solid var(--border);
    text-align: center;
    padding: 0 0.5rem 2rem 0.5rem;
    grid-column: 1 / -1;
    box-sizing: border-box;
}

body > header h1 {
    max-width: 1200px;
    margin: 1rem auto;
}

body > header p {
    max-width: 40rem;
    margin: 1rem auto;
}

/* Add a little padding to ensure spacing is correct between content and nav */
main {
    padding-top: 1.5rem;
}

body > footer {
    margin-top: 4rem;
    padding: 2rem 1rem 1.5rem 1rem;
    color: var(--text-light);
    font-size: 0.9rem;
    text-align: center;
    border-top: 1px solid var(--border);
}

/* Format headers */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
    margin-top: 3rem;
}

h3 {
    font-size: 2rem;
    margin-top: 3rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 0.96rem;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
    line-height: 1.1;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}

/* Format links & buttons */
a,
a:visited {
    color: var(--accent);
}

a:hover {
    text-decoration: none;
}

button,
[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'] {
    border: none;
    border-radius: 5px;
    background: var(--accent);
    font-size: 1rem;
    color: var(--bg);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
}

button[disabled],
[role='button'][aria-disabled='true'],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled],
input[type='checkbox'][disabled],
input[type='radio'][disabled],
select[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

input:disabled,
textarea:disabled,
select:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
}

input[type='range'] {
    padding: 0;
}

/* Set the cursor to '?' while hovering over an abbreviation */
abbr {
    cursor: help;
}

button:focus,
button:enabled:hover,
[role='button']:focus,
[role='button']:not([aria-disabled='true']):hover,
input[type='submit']:focus,
input[type='submit']:enabled:hover,
input[type='reset']:focus,
input[type='reset']:enabled:hover,
input[type='button']:focus,
input[type='button']:enabled:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

/* Format navigation */
nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0 0 0;
}

/* Use flexbox to allow items to wrap, as needed */
nav ul,
nav ol {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* List items are inline elements, make them behave more like blocks */
nav ul li,
nav ol li {
    display: inline-block;
}

nav a,
nav a:visited {
    margin: 0 1rem 1rem 0;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--text);
    display: inline-block;
    padding: 0.1rem 1rem;
    text-decoration: none;
}

nav a:hover {
    color: var(--accent);
    border-color: var(--accent);
}

nav a:last-child {
    margin-right: 0;
}

/* Reduce nav side on mobile */
@media only screen and (max-width: 750px) {
    nav a {
        border: none;
        padding: 0;
        color: var(--accent);
        text-decoration: underline;
        line-height: 1;
    }
}

/* Format tables */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.5rem 0;
}

td,
th {
    border: 1px solid var(--border);
    text-align: left;
    padding: 0.5rem;
}

th {
    background: var(--accent-bg);
    font-weight: bold;
}

tr:nth-child(even) {
    /* Set every other cell slightly darker. Improves readability. */
    background: var(--accent-bg);
}

table caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Format forms */
textarea,
select,
input {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text);
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    width: 60%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* Add arrow to drop-down */
select {
    background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%),
        linear-gradient(135deg, var(--text) 51%, transparent 49%);
    background-position: calc(100% - 20px), calc(100% - 15px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

select[multiple] {
    background-image: none !important;
}

/* checkbox and radio button style */
input[type='checkbox'],
input[type='radio'] {
    vertical-align: bottom;
    position: relative;
}

input[type='radio'] {
    border-radius: 100%;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
    background: var(--accent);
}

input[type='checkbox']:checked::after {
    /* Creates a rectangle with colored right and bottom borders which is rotated to look like a check mark */
    content: ' ';
    width: 0.1em;
    height: 0.25em;
    border-radius: 0;
    position: absolute;
    top: 0.05em;
    left: 0.18em;
    background: transparent;
    border-right: solid var(--bg) 0.08em;
    border-bottom: solid var(--bg) 0.08em;
    font-size: 1.8em;
    transform: rotate(45deg);
}
input[type='radio']:checked::after {
    /* creates a colored circle for the checked radio button  */
    content: ' ';
    width: 0.25em;
    height: 0.25em;
    border-radius: 100%;
    position: absolute;
    top: 0.125em;
    background: var(--bg);
    left: 0.125em;
    font-size: 32px;
}

/* Make the textarea wider than other inputs */
textarea {
    width: 80%;
}

/* Makes input fields wider on smaller screens */
@media only screen and (max-width: 720px) {
    textarea,
    select,
    input {
        width: 100%;
    }
}

/* Ensures the checkbox and radio inputs do not have a set width like other input fields */
input[type='checkbox'],
input[type='radio'] {
    width: auto;
}

/* do not show border around file selector button */
input[type='file'] {
    border: 0;
}

/* Misc body elements */
hr {
    color: var(--border);
    border-top: 1px;
    margin: 1rem auto;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
