<template>
    <ux-dialog class="small-dialog">
        <div>
            <div style="padding: 0.5em">
                <header>
                    <h4 t="filter"></h4>
                </header>

                <div>
                    <label for="category" t="category"></label>
                    <select value.bind="categoryFilter" class="accent-bg clean-input text-left"
                        style="margin-right: 0; margin-left: 0;">
                        <option model.bind="null" t="all-categories"></option>
                        <option repeat.for="category of drinkCategories" model.bind="category">
                            ${category}
                        </option>
                    </select>
                </div>

                <div>
                    <label for="Spirit" t="spirit"></label>
                    <select value.bind="spiritFilter" class="accent-bg clean-input text-left"
                        style="margin-right: 0; margin-left: 0;">
                        <option model.bind="null" t="all-spirits"></option>
                        <option repeat.for="spirit of spirits" model.bind="spirit.spirit">
                            ${spirit.name}
                        </option>
                    </select>
                </div>

                <footer>
                    <button click.trigger="ok()" t="apply"></button>
                </footer>
            </div>
        </div>
    </ux-dialog>
</template>