<template>
    <ux-dialog class="small-dialog">
        <div>
            <div class="bg-base-200 modal-box relative" style="padding: 0.5em" data-cy="ingredient-dialog">
                <label
                    if.bind="isEditMode && ingredient.usedInCocktailNames.length === 0"
                    click.delegate="delete()"
                    class="btn btn-sm btn-circle absolute right-2 top-2 text-primary"
                    data-cy="delete-ingredient">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" stroke="currentColor" viewBox="0 0 512 512">
                        <title>Trash</title>
                        <path
                            d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="32" />
                        <path stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352" />
                        <path
                            d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="32" />
                    </svg>
                </label>
                <h3 if.bind="isEditMode" class="text-lg font-bold" t="edit-ingredient"></h3>
                <h3 else class="text-lg font-bold" t="create-ingredient"></h3>

                <div class="form-control w-full" validation-errors.bind="nameErrors">
                    <label class="label">
                        <span class="label-text" t="name"></span>
                    </label>
                    <input
                        type="text"
                        value.bind="ingredient.name & validate"
                        class="input input-bordered w-full input-sm"
                        class.bind="nameErrors.length ? 'input-error' : ''"
                        data-cy="ingredient-name-input" />
                    <ul style="list-style-position: inside">
                        <li repeat.for="errorInfo of nameErrors" class="text-small">${errorInfo.error.message}</li>
                    </ul>
                </div>

                <div class="btn-group w-full mt-6">
                    <button
                        class="btn flex-1"
                        t="cancel"
                        click.trigger="cancel()"
                        data-cy="ingredient-dialog-cancel"></button>
                    <button
                        class="btn btn-active flex-1"
                        t="save"
                        click.trigger="ok()"
                        data-cy="ingredient-dialog-ok"></button>
                </div>
            </div>
        </div>
    </ux-dialog>
</template>
