<template>
    <ux-dialog class="small-dialog">
        <div>
            <div>
                <header>
                    <h4>Welcome</h4>
                    <p>Select Messuarement System</p>
                </header>
                <div class="small-dialog-content">
                    <div repeat.for="messuarementSystem of messuarementSystems"
                        click.delegate="selectMessuarementSystem(messuarementSystem)"
                        class="${messuarementSystem === selectedMessuarementSystem ? 'active' : ''}">
                        <p>${messuarementSystem}</p>
                        <div></div>
                    </div>
                </div>
                <footer>
                    <button click.trigger="controller.cancel()">Continue</button>
                </footer>
            </div>
        </div>
    </ux-dialog>
</template>