name: CI

on:
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - name: Install app dependencies
              run: npm ci

            - name: Build Web
              run: npm run build

            - name: Run Web tests
              run: npm t

            - name: Capacitor update
              run: npx cap update

            - name: Capacitor copy
              run: npx cap copy

            - name: Cypress.io
              uses: cypress-io/github-action@v6.5.0
              with:
                  start: npm start
